<!DOCTYPE html>
<html lang="en">

<head>
  <title>About</title>
  <link rel="icon" href="/img/icon.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This is a website of getting weather update. </p>
    <p>Just write the location of your desire will give you the needed information.</p>
    <img class="potrait" src="/img/techStack.png" alt="techStack">
    <h2>Technology Used to make this site</h2>
    <p>
      <ul>
        <li>Node JS</li>
        <li>Express Js</li>
        <li>Request Npm package</li>
        <li>hbs Npm package</li>
      </ul>
    </p>
  </div>
  {{>footer}}
</body>

</html>