<!DOCTYPE html>
<html lang="en">

<head>
  <title>Help</title>
  <link rel="icon" href="/img/icon.png">
  <link rel="icon" href="/img/icon.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>If you need any help about this website you can message me in
      <br><a href="https://twitter.com/nerdjfpb">Twitter</a><br><a
        href="https://www.linkedin.com/in/nerdjfpb">LinkedIn</a></p>
  </div>
  {{>footer}}
</body>

</html>